<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oompa Loompa</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
        var socket = io();
        </script>
</head>
<body>
    <h1>Oompa Loompa</h1>
    <div id="current task">

    </div>
    <script src="/js/oom.js"></script>
</body>
</html>