.container {
    display: flex;
}

.main-wrap {
    width: 40vw;
    font-size: 1.2vw;
}

/* TOP NAV */

.nav-top {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 78vw;
    background-color: var(--light);
    padding: 1.5vw 1.2vw;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.nav-top img {
    height: 2vw;
    vertical-align: middle;
    margin: 0 0.2vw
}

.flex-div-wrap {
    display: flex;
    width: 78vw;
}

/* GRAPHS */

.graphs {
    display: flex;
    justify-content: space-between;
    width: 54vw;
    margin: 1.2vw 0;
}

.stock-wrap {
    background-color: var(--brown);
    width: 17vw;
    border-radius: 1.3vw;
    font-size: 1.2vw;
    padding: 1.2vw;
}

.stock-wrap p, .stock-wrap i {
    display: inline;
    color: var(--green);
}

.stock-wrap h2 {
    margin-bottom: 1vh
}

.graph-1 {
    background-color: var(--light);
    border-radius: 1.3vw;
    width: 54vw;
    height: 40vh;
    text-align: center;
}

/* STOCK */

.stock {
    background-color: var(--light);    
    margin: 1.2vw 0 0 1.2vw ;
    border-radius: 1.3vw;
    width: 100%;
}

.stock h1 {
    margin: 0.8vw 0 0 1.2vw;
}

.stock-div {
    background-color: var(--brown);
    border-radius: 1.3vw;
    margin: 2vw 2vw;
    display: flex;
    justify-content: space-between;
    padding: 0.8vw;
    font-size: 1.4vw;
}

.stock img {
    height: 14vh;
    transform: translateX(-20%) scale(1.8);
}

.stock img.right {
    height: 14vh;
    transform: translateX(20%) scale(1.8);
}

.stock-text {
    text-align: right;
    margin: auto 0;
    padding-right: 1vw;
    /* color: #FFB82E; */
}

.stock-text.left {
    text-align: left;
    margin: auto 0;
    padding-left: 1vw;
    /* color: #3DAC5C */
}