.nav-top {
    border-bottom-right-radius: 0vw;
}

.wrap {
    width: 78vw;
    display: flex;
    justify-content: space-between;
}

.text-wrap {
    color: #D0BCA4;
    width: 50vw;
    padding: 0 4vw;
    margin-top: 5vh;
}

.text-wrap h1 {
    color: var(--brown);
    font-size: 3vw;
}

.wrap img.bgImage {
    width: 30vw;
}

.text-wrap h3 {
    font-size: 2vw;
    color: #D0A883;
    margin: 2vh 0 1.5vh 0;
}

.info-wrap {
    display: flex;
    margin: 2vh 0;
}

.info {
    border-radius: 3vw;
    background-color: #91785B;
    text-align: center;
    margin-right: 1vw;
    padding: 3.5vh 0.2vw 0 0.2vw;
    width: 6vw;
}

.qty {    
    color: #81674A;
}

.nutri {
    margin: 4vh 0;
    font-size: 0.8vw;
    letter-spacing: 0.1vh;
}

.price {
    display: inline;
    font-size: 2.5vw;
}

span {
    color: var(--brown);
    font-size: 1.7vw;
}
