

body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
nav{
    position: relative;
    left:0;
    height: 100vh;
    width: 18%;
    background-color: #dbdbdb;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    width: 82%;
    background-color: #81674A;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    overflow: hidden;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 10vh;
    background-color: #f2f2f2;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top:0
}
.schedule {
    width: 100%;
    height: 90vh;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 0vh;
    display:flex;
    overflow: hidden;
}
.time{
    background-color: #81674A;
    width: 75%;
    display: inline-block;
    margin: 0;
}
.all{
    background-color: #81674A;
    width: 24%;
    display: inline-block;
    margin:0;
    height: 100%;
}
.calender{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 95%;
    width: 96%;
    background-color: #81674A;
    overflow: hidden;
}
/* .date:after {
    content:"";
    position:absolute;
    width:100%;
    top:10%;
    z-index:1;
    box-shadow: 0px 0px 3px 0.6px #0000002f;
} */
.mainul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 75vh;
    display: block;
    background-color: #81674A;
    overflow-y: hidden;
    position: relative;
}
.mainul li{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 10%;
    display: flex;
   
    border-bottom: 1px solid #81674A;
}
.mainul hr{
    width: 87.5%;
    left:50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: yellow;
    margin: 0;
    padding: 0;
    position: fixed;
    top:82%;
    z-index: 100;
}
.hour{
    width: 6%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #81674A;
}
.distribution{
    width: 88%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #94785F;
    overflow: hidden;
}
.hour-text{

    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #81674A;
    text-align: center;
    font-size: 21px;
    color: white;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.task{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    position: relative;
    margin-left: 2.5px;
    margin-right: 2.5px;
    text-align: left;
    overflow: hidden;
    font-size: 10px;
}
.distributioncont{
    width: 98%;
    height: 92%;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    overflow: hidden;
}
.task h1{
    width: 100%;
    font-size: 12px;
    font-style: regular;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    position: absolute;
    left:0;
    top:30%;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 4px;
    left:0;
    position: absolute;
    top:120%;
    background-color: black;
    border-radius: 10%;
}
.add{
    width: 6%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #94785F;
}
.editbox{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #81674A;
    width: 40%;
    height: 40%;
    z-index: 2;
    border-radius: 20px;

}
.milk h1 .line{
    background-color: wheat;
}
.almond h1 .line{
    background-color: #7c572c;
}
.dark h1 .line{
    background-color: #582f00;
}
.fruits h1 .line{
    background-color: plum;
}
.cleaning h1 .line{
    background-color: aqua;
}
.raw_milk h1 .line{
background: repeating-linear-gradient(
        45deg,
        wheat,
        wheat 10px,
        white 10px,
        white 20px
      );
}
.raw_cocoa h1 .line{
    background: repeating-linear-gradient(
            45deg,
            #81674A,
            #81674A 10px,
            #582f00 10px,
            #582f00 20px
          );
}
.raw_sugar h1 .line{
    background: repeating-linear-gradient(
            45deg,
            blue,
            blue 10px,
            aqua 10px,
            aqua 20px
          );
}
.schedule-header{

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 95%;
        width: 96%;
        overflow: hidden;
    
}
.tru{
    background-color: #A6876B;
    width: 100%;
    height: 84%;
    border-radius: 20px;
}
.add-icon{
    width: 100%;
    transform: scale(0.5);
}
.date{
    width: 94%;
    height: 10%;
    position: relative;
    background-color: #A6876B;
    margin-left: 6%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
}
.tru li{
    width: 100%;
    height: 10%;
    position: relative;
    background-color: #A6876B;
    padding:0;
    margin:0;
    margin-left: 6%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    padding-top: 5vh;
}
#datentime{
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.auto{
    width: 40%;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
    position: absolute;
    right:10%;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
