<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Products - Wonka's</title>
    </head>
    <body>
        <form
            action="/dashboard/products/add"
            method="POST"
            enctype="multipart/form-data"
        >
            <input
                type="text"
                name="name"
                placeholder="Product Name"
                required
            />
            <textarea
                name="desc"
                id="desc"
                cols="30"
                rows="10"
                placeholder="Description of product"
                required
            ></textarea>
            <input type="number" name="price" placeholder="Price" required />
            <input type="file" name="img" required />

            <% for (let ing of ingredients) {%>
            <br />
            <h1><%= ing.name %></h1>
            <input
                type="range"
                min="1"
                max="100"
                value="0"
                name="<%= ing._id %>"
            />
            <br />
            <% } %>

            <br /><br /><br />
            <button type="submit">Done</button>
        </form>
    </body>
</html>
