<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css?family=Bowlby One:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/all.css" />
        <link rel="stylesheet" href="/css/dash.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <title>Dashboard - Pushpa</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <h1>Logo</h1>
                <div class="line"></div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <span>Dashboard</span>
                </div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <span>Schedule</span>
                </div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <span>Products</span>
                </div>
                <div class="main last">
                    <i class="fa fa-car"></i>
                    <span>Create</span>
                </div>
                <div class="line"></div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <span>Settings</span>
                </div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <span>Support</span>
                </div>
                <div class="line"></div>
                <div class="main">
                    <i class="fa fa-car"></i>
                    <a href="/dashboard/logout">Log out</a>
                </div>
            </div>
            <div class="main-wrap">
                <div class="nav-top">
                    <h1>Hello Pushpa</h1>
                    <div>
                        <img src="/assets/sun.svg" />
                        <img src="/assets/search.svg" />
                        <img src="/assets/bell.svg" />
                        <img src="/assets/person.png" />
                    </div>
                </div>
                <div class="flex-div-wrap">
                    <div class="graph-wrap">
                        <div class="graphs">
                            <div class="stock-wrap">
                                <h4>Weekly sales</h4>
                                <h2>$19,450</h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                            <div class="stock-wrap">
                                <h4>Weekly sales</h4>
                                <h2>$19,450</h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                            <div class="stock-wrap">
                                <h4>Weekly sales</h4>
                                <h2>$19,450</h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                        </div>
                        <div class="graph-1">
                            <h1>Graph</h1>
                        </div>
                    </div>
                    <div class="stock">
                        <h1>Stock</h1>
                        <div class="stock-div">
                            <img src="/assets/jar.svg" />
                            <div class="stock-text">
                                <h4>Cocoa</h4>
                                <p>73%</p>
                            </div>
                        </div>
                        <div class="stock-div">
                            <div class="stock-text left">
                                <h4>Sugar</h4>
                                <p class="green">64%</p>
                            </div>
                            <img src="/assets/jar.svg" class="right" />
                        </div>
                        <div class="stock-div">
                            <img src="/assets/jar.svg" />
                            <div class="stock-text">
                                <h4>Milk</h4>
                                <p>69%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
