<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import tailwind -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css?family=Bowlby One:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/all.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="/public/css/sched.css">
    <title>Schedule</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
        var socket = io();
        </script>
</head>
<!-- body margin 0 padding 0 -->
<body>
    <div class="edit-box">
        <form>
            
        </form>
    </div>
    <!-- create a sidebar width of 20% height 100% position fixed-->
    <div class="navbar">
        <img src="/assets/wlogo.svg">
        <div class="line"></div>
        <div class="main">
            <i class="fa fa-car"></i>
            <a href="/dashboard/">Dashboard</a>
        </div>
        <div class="main">
            <i class="fa fa-car"></i>
            <a href="/dashboard/schedule">Schedule</a>
        </div>
        <div class="main">
            <i class="fa fa-car"></i>
            <a href="/dashboard/products">Products</a>
        </div>
        <div class="main last">
            <i class="fa fa-car"></i>
            <a href="/dashboard/create">Create</a>
        </div>
        <div class="line"></div>
        <div class="main">
            <i class="fa fa-car"></i>
            <a href="/dashboard/logout">Log out</a>
        </div>
    </div>
    <div class="container">
        <div class="nav-top">
            <h1>Hello Pushpa</h1>
            <div>
                <img src="/assets/sun.svg" />
                <img src="/assets/search.svg" />
                <img src="/assets/bell.svg" />
                <img src="/assets/person.png" />
            </div>
        </div>
        
        <div class = "schedule">
            <div class="all">

            </div>
            <div class="time">
                <div class="calender">
                    <div class="date">

                    </div>
                    <ul>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>9</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution9" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit9">

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>10</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution0" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit10">
                                
                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>11</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution1" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit11">

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>12</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution2" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit12"> 

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>13</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution3" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit13">

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>14</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution4" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit14">

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>15</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution5" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit15">

                            </div>
                        </li>
                        <li>
                            <div class="hour">
                                <div class="hour-text">
                                    <p>16</p>
                                </div>
                            </div>
                            <div class="distribution">
                                <div id="distribution6" class="distributioncont">
                                    
                                </div>
                            </div>
                            <div class="add" style="border-left: 3px solid #EBEBEB;" id="edit16">

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
    

    <script src="/js/dash.js"></script>
</body>
</html>